@use "../variable" as v;

.pm {
  width: 100%;
  height: 100%;
  .nav {
    position: absolute;
    top: 0;left: 0;
    width: 100px;
    height: 100%;
    padding: 10px;
    background-color: v.$bar_bg;
    .btn {
      margin-bottom: 10px;
      width: 100%;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
      border-bottom: 1px solid #00000000;
      border-left: 1px solid #00000000;
      i {
        font-size: 1.25rem;
      }
    }
    .btn:last-child {
      margin-bottom: 0;
    }
    .btn:hover {
      background-color: v.$sgray;
    }
    .btn.selected {
      background-color: v.$bg;
      color: v.$sblurple;
      border-bottom: 1px solid v.$sblurple;
      border-left: 1px solid v.$sblurple;
    }
  }
  .list {
    position: absolute;
    top: 0;left: 100px;
    width: 350px;
    height: 100%;
    background-color: v.$card_secondary;
    .top {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid v.$black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        padding: 10px;
        font-weight: bold;
        font-size: 1.5rem;
      }
      .actions {
        padding: 10px 20px;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 20px;
        .btn {
          font-size: 1.25rem;
        }
      }
    }
    .bottom {
      width: 100%;
      height: calc(100% - 50px);
      overflow-y: auto;
      overflow-x: hidden;
      .search {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid v.$black;
        input {
          width: 100%;
          padding: 10px;
          background-color: v.$card_primary;
          color: v.$white;
          border-radius: 5px;
        }
      }
      .card-list {
        .card {
          padding: 10px;
          width: 100%;
          border-bottom: 1px solid v.$bar_bg;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          .left {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 10px;
            .img {
              img {
                display: block;
                border-radius: 50%;
              }
            }
            .detail {
              .name {
                font-weight: bold;
              }
              .last {
                font-size: 0.8rem;
              }
            }
          }
          .right {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            gap: 5px;
            .last {
              font-size: 0.8rem;
            }
            .unread {
              width: 20px;
              height: 20px;
              font-size: 0.8rem;
              border-radius: 50%;
              text-align: center;
              align-content: center;
              background-color: v.$sblurple;
            }
          }
        }
        .card:hover {
          background-color: v.$bar_bg;
        }
      }
    }
  }
  .content {
    position: absolute;
    top: 0;left: calc(350px + 100px);
    width: calc(100% - (350px + 100px));
    height: 100%;
    background-color: v.$bg;
    .top {
      position: absolute;
      top: 0;left: 0;
      background-color: v.$bar_bg;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        padding: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        .back {
          font-size: 1.25rem;
        }
        .user {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          .img {
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
              object-position: center;
              -o-object-fit: cover;
              -o-object-position: center;
            }
          }
          .name {
            max-width: 130px;
            overflow: hidden;
            font-size: 1.25rem;
          }
        }
      }
      .right {
        padding: 10px 20px;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 20px;
        .btn {
          font-size: 1.2rem;
        }
      }
    }
    .bottom {
      width: 100%;
      height: calc(55px + 55px + 50px);
      background-color: v.$bar_bg;
      position: absolute;
      bottom: 0;left: 0;
      width: 100%;
      .embed {
        width: 100%;
        height: 55px;
        padding: 5px;
        padding-bottom: 0;
        .box {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: start;
          background-color: v.$bg;
          border-left: 2px solid v.$yellow;
          border-radius: 5px;
          padding: 5px;
          .left {
            color: v.$yellow;
            font-size: 0.8rem;
          }
        }
      }
      .attach {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid v.$black;
        .media {
          width: 100%;
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 10px;
          .img {
            width: 50px;
            height: 38px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              -o-object-fit: cover;
              -o-object-position: center;
            }
          }
          .name {
            font-size: 0.9rem;
            color: v.$softwhite;
            font-style: italic;
          }
          .document {
            font-size: 0.9rem;
            color: v.$yellow;
            padding: 3px 5px;
            p::before {
              content: "\f574";
              font-family: "Font Awesome 6 Pro";
              margin-right: 5px;
              font-weight: 600;
              font-style: normal;
            }
          }
        }
      }
      .field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 10px;
        .input {
          width: calc(100% - 34px);
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5px;
          .emoji {
            .btn {
              width: 20px;
              height: 20px;
              text-align: center;
              align-content: center;
            }
          }
          .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            .btn {
              width: 20px;
              height: 20px;
              text-align: center;
              align-content: center;
            }
          }
          .textbox {
            width: calc(100% - ((20px * 3) + (10px + 3px)));
            textarea {
              width: 100%;
              background-color: #00000000;
              color: v.$white;
              line-height: 1.5;
              height: 24px;
            }
          }
        }
        .voice {
          .btn {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            text-align: center;
            align-content: center;
            font-size: 1.1rem;
            background-color: v.$sblurple;
          }
        }
      }
    }
    .mid {
      position: absolute;
      top: 60px;left: 0;
      width: 100%;
      height: calc(100% - (60px + 55px + 55px + 50px));
      .chats {
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;
        .card {
          margin-left: 0;
          margin-right: auto;
          width: calc(100% - 40px);
          max-width: 500px;
          padding: 10px;
          border-radius: 10px;
          background-color: v.$sgray;
          margin-bottom: 10px;
          .chp {
            margin-bottom: 3px;
          }
          .chp:last-child {
            margin-bottom: 0;
          }
          .sender {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            .name {
              font-weight: bold;
            }
            .name::before {
              content: "~";
              margin-right: 3px;
            }
            .actions {
              .btn {
                font-size: 1.2rem;
              }
            }
          }
          .embed {
            padding: 5px;
            border-left: 3px solid v.$yellow;
            background-color: #00000020;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            color: v.$yellow;
            font-size: 0.8rem;
          }
          .attach {
            margin-top: 5px;
            .document {
              color: v.$yellow;
              padding: 5px 7px;
              border: 1px solid v.$yellow;
              border-radius: 5px;
              width: 100%;
              p::before {
                content: "\f56d";
                font-family: "Font Awesome 6 Pro";
                font-weight: 600;
                margin-right: 5px;
              }
            }
            .img {
              background-color: v.$card_secondary;
              width: 100%;
              max-height: 300px;
              border-radius: 5px;
              overflow: hidden;
              img {
                max-width: 100%;
                max-height: 300px;
                display: block;
                margin: 0 auto;
              }
            }
            .voice {
              width: 100%;
              padding-left: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 10px;
              .control {
                font-size: 1.5rem;
              }
              .range {
                input[type="range"] {
                   appearance: none;
                   -moz-appearance: none;
                   -webkit-appearance: none;
                   cursor: pointer;
                   background-color: v.$softwhite;
                   height: 3px;
                }
                input[type=range]::-webkit-slider-thumb {
                   appearance: none;
                   -webkit-appearance: none;
                   -moz-appearance: none;
                   background: v.$white;
                   width: 14px;
                   height: 14px;
                   border-radius: 50%;
                }
                input[type=range]::-ms-thumb {
                   background: v.$white;
                   width: 14px;
                   height: 14px;
                   border-radius: 50%;
                }
                input[type=range]::-moz-range-thumb {
                   background: v.$white;
                   width: 14px;
                   height: 14px;
                   border-radius: 50%;
                }
                input[type="range"]:active::-webkit-slider-thumb {
                   box-shadow: 0 0 0 5px v.$sblurple;
                }
                input[type="range"]:active::-webkit-slider-thumb {
                   outline: solid 2px v.$sblurple;
                   outline-offset: 3px;
                  }
                  input[type="range"]:active::-moz-range-thumb {
                    box-shadow: 0 0 0 5px v.$sblurple;
                }
              }
            }
          }
          .text {
            text-align: left;
            p {
              word-break: break-all;
              word-break: break-word;
              hyphens: auto;
            }
          }
          .time {
            text-align: right;
            font-size: 0.8rem;
            color: v.$softwhite;
          }
        }
        .card.short {
          width: fit-content;
        }
        .card.me {
          margin-right: 0;
          margin-left: auto;
          background-color: v.$bar_active;
        }
        .card:last-child {
          margin-bottom: 0;
        }
      }
    }
    .chatpop {
      position: absolute;
      top: 0;left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000080;
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      display: flex;
      align-items: center;
      justify-content: center;
      .box {
        padding: 10px;
        .chats {
          padding: 10px;
          background-color: v.$sgray;
          border-radius: 10px;
        }
        .actions {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
          .btn {
            padding: 10px;
            color: v.$white;
            font-weight: bold;
            border-radius: 5px;
          }
          .btn-reply {
            background-color: v.$sgreen;
          }
          .btn-edit {
            background-color: v.$syellow;
          }
          .btn-delete {
            background-color: v.$sred;
          }
          .btn-cancel {
            background-color: v.$sblurple;
          }
        }
      }
    }
  }
}