@use "../../variable" as v;

.appname {
  position: absolute;
  top: 0;left: 100px;
  width: 350px;
  height: 50px;
  background-color: v.$card_secondary;
  border-bottom: 1px solid v.$black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .actions {
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    .btn {
      font-size: 1.25rem;
    }
  }
}