@use "../../variable" as v;

.chats {
  position: absolute;
  top: 50px;left: 100px;
  width: 350px;
  height: calc(100% - 50px);
  background-color: v.$card_secondary;
  overflow-y: auto;
  overflow-x: hidden;
  .search {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid v.$black;
    input {
      width: 100%;
      padding: 10px;
      background-color: v.$card_primary;
      color: v.$white;
      border-radius: 5px;
    }
    .btn {
      width: 100%;
      padding: 10px;
      text-align: center;
      font-weight: bold;
      background-color: v.$sgreen;
      color: v.$white;
      border-radius: 5px;
      margin-top: 5px;
      font-size: 1rem;
    }
  }
  .search.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
  .card-list {
    .card {
      padding: 10px;
      width: 100%;
      border-bottom: 1px solid v.$bar_bg;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .getload {
        width: 100%;
        text-align: center;
        .spinner {
          font-size: 2rem;
        }
      }
      .left {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        .img {
          img {
            display: block;
            border-radius: 50%;
          }
        }
        .detail {
          .name {
            font-weight: bold;
          }
          .last {
            font-size: 0.8rem;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 5px;
        .last {
          font-size: 0.8rem;
        }
        .unread {
          width: 20px;
          height: 20px;
          .circle {
            width: 100%;
            height: 100%;
            font-size: 0.8rem;
            border-radius: 50%;
            text-align: center;
            align-content: center;
            background-color: v.$sblurple;
          }
        }
        .btn {
          font-size: 1.25rem;
        }
      }
    }
    .card:hover {
      background-color: v.$bar_bg;
    }
    .freq {
      background-color: v.$card_primary;
      border-bottom: 1px solid v.$sblurple;
      .note {
        text-align: center;
      }
      .card:last-child {
        border-bottom: none;
      }
    }
  }
}