@use "../../variable" as v;

.nav {
  position: absolute;
  top: 0;left: 0;
  width: 100px;
  height: 100%;
  padding: 10px;
  background-color: v.$bar_bg;
  .btn {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px solid #00000000;
    border-left: 1px solid #00000000;
    i {
      font-size: 1.25rem;
    }
  }
  .btn:last-child {
    margin-bottom: 0;
  }
  .btn:hover {
    background-color: v.$sgray;
  }
  .btn.selected {
    background-color: v.$bg;
    color: v.$sblurple;
    border-bottom: 1px solid v.$sblurple;
    border-left: 1px solid v.$sblurple;
  }
}